.page-nav {
	width: 100%;
	position: relative;
	z-index: 80;
}

.page-nav .nav-outline {
	width: 100%;
	background-color: #f8f8f8;
}

.page-nav .nav-container {
	padding: 0;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	float: none;
	overflow: hidden;
}

.page-nav .nav-container:after,
.page-nav .nav-container:before {
	content: " ";
	display: table;
}

.page-nav .nav-container:after {
	clear: both;
}

.page-nav nav ul.nav-list li {
	margin: 0;
	font-size: 1rem;
	line-height: 1.7;
}

.page-nav nav ul.nav-list li.is-active a {
	font-weight: 700;
	color: #832625;
}

.page-nav nav ul.nav-list a {
	padding: 20px 2rem;
	display: block;
	color: #000;
	outline: 0;
	position: relative;
}

.page-nav nav ul.nav-list li:first-child a {
	padding-left: 0;
}

.page-nav nav ul.nav-list a:before {
	position: absolute;
	left: 2rem;
	bottom: 0;
	height: 3px;

	content: "";
	width: 0;
	transition: all 0.3s;
}

.page-nav nav ul.nav-list li.is-active a:before {
	width: calc(100% - 4rem);
	background-color: #f29d39;
}

.page-nav nav ul.nav-list li:first-child a:before {
	left: 0;
	width: calc(100% - 2rem);
	bottom: -1px;
}

.page-nav nav ul.nav-list li a:after {
	position: absolute;
	right: 0;
	top: 50%;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: #000;
	content: "";
	margin-top: -4px;
}

.page-nav nav ul.nav-list li:last-child a:after {
	display: none;
}

.nav--horizontal {
	border-bottom: solid 1px #ccc;
}

.page-nav nav ul.nav-list {
	padding-top: 0;
	overflow: hidden;
	opacity: 0;
	transition: opacity;
	transition-delay: .25s;
	transition-duration: 1s;
	transition-timing-function: cubic-bezier(.19, 1, .22, 1);
}

.page-nav nav ul.nav-cta li {
	margin-top: 14px;
	white-space: nowrap;
	display: flex;
	margin-right: 10px;
}

.page-nav nav ul.nav-cta a {
	margin-right: 5px;
	font-weight: 700;
	color: #0064ac;
	text-transform: uppercase;
	font-size: .8125rem;
	padding: 7px 20px 6px 20px !important;
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
	.page-nav nav ul.nav-cta a {
		padding-top: 8px !important;
	}
}

.page-nav nav ul.nav-cta.-vertical {
	display: none;
}

.page-nav.is-active nav ul.nav-list {
	opacity: 1;
	padding-left: 0;
	margin-bottom: 0;
}

.page-nav.is-sticky {
	height: auto;
}

.page-nav.is-sticky .nav-outline {
	position: fixed;
	top: 106px;
	left: 0;
	z-index: 90;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.page-nav .ui-carousel-viewport {
	overflow: visible;
}

.page-nav .ui-carousel-viewport:before {
	content: '';
	width: 100%;
	height: 20px;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 20;
	background: none;
}

@media screen and (max-width:48em) {
	.page-nav nav {
		font-size: 1em;
		line-height: 3em;
	}

	.page-nav nav ul a {
		padding: 0 .833333em;
	}

	.page-nav nav ul.nav-cta {
		padding-left: .833333em;
		padding-right: .833333em;
	}
}