.swiper-slide{
    width: 245px;
    margin-right: 20px;
}

.link_view:before{
    content: ">" !important;
}

.carrow .swiper-button-next,
.carrow .swiper-button-prev {
    top: -30px;
    right: 0px;
    background: url("/icons/prev.png");
    width: 32px;
    height: 18px;
}