
.faqs details {
  border: 1px solid #dadada;
}

/* stylelint-disable-next-line no-descending-specificity */
.faqs details + details {
  margin-top: 24px;
}

.faqs details p {
  margin-bottom: 0.8em;
}

.faqs details summary {
  position: relative;
  padding: 0 16px;
  padding-right: 46px;
  cursor: pointer;
  list-style: none;
  overflow: auto;
  transition: background-color 0.2s;
}

.faqs details[open] summary {
  background-color: var(--light-color);
}

.faqs details summary:focus,
.faqs details summary:hover {
  background-color: var(--light-color);
}

.faqs details summary::-webkit-details-marker {
  display: none;
}

.faqs details summary::after {
  content: "+";
}

.faqs details[open] summary::after {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -1rem;
  content: "\2013";
  font-size: 2rem;
  line-height: 1;
  transition: all 0.5s;
}

.faqs details .faqs-item-body {
  padding: 0 16px;
}

.faqs details[open] .faqs-item-body {
  border-top: 1px solid #dadada;
  background-color: var(--background-color);
}

.faqs-item-label {
	border: solid 1px #eaeaea;
    border-bottom: none;
    border-radius: .375rem .375rem 0 0;
    padding: 15px 50px 15px 15px;
    position: relative;
    cursor: pointer;
	color: #832625 !important;
	font-family: 'Lucida Sans' !important;
    font-weight: bold !important;
	font-size: 1.3rem;
	line-height: 1.3;
	box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
